body{
    width:80%;
    margin: 0 auto;
    background-color: #21221f;
    color: white;
    font-family: sans-serif;

}


#screenings-wrapper img {
    width: 100%;
}

#screenings-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-object {
    flex-basis: 20%;
    background-color: #151515;
    color: white;
    margin: 10px;
}

.movie-object h2, p {
    margin-left: 10px;
}

#buttons-wrapper {
    display: flex;
    justify-content: center;
}

#buttons-wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: #21221f;
    color: white;
    width: 8vw;
    height: 5vw;
    cursor: pointer;
}

p{
    color: white;
}


.input-divs{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-div{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;

}

.selects{
    height: 30px;
    background-color: #21221f;
    color: white;
    border: 2px solid white;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
}
#btn-add-screening{
    height: 30px;
    background-color: #21221f;
    color: white;
    border: 2px solid white;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
}
#btn-add-screening:hover{
    background-color: #4a4d49;
}

.select-headers{
    color: #999;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#update-status{
    display: none;
}
