body{
    width:80%;
    margin: 0 auto;
    background-color: #21221f;
    display: flex;
    justify-content: center;

}

p{
    color: white;
}

h2{
    color: white;
}

.input-divs{
    border-color: white;
    border-width: 50px;

}

.main-div{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
}

