#wrapper {
    display: flex;
}

#canvas {
    display: flex;
    justify-content: center;
    background-color: brown;
    height: 40px;
    align-items: center;
}

#seats-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* max-width: 300px; */
}

.seats-display-big {
    max-width: 400px;
}

.seats-display-small {
    max-width: 300px;
}

.box {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: green;
}
.selected{
    background-color: blue;
}

.taken {
    background-color: red;
}