.top-div-movies{
    display: flex;  
    width: 400px;
    margin-bottom: 50px;
}

#movie-schedule{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#movie-select-screening-date{
    margin-bottom: 50px;
    width: 150px;
}

#movie-image{
    margin-right: 30px;
}