body{

    margin: 0 auto;
    background-color: #21221f;
    color: white;
    font-family: sans-serif;

}
#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
    

